<html>
<head>
    <title>Carshop</title>
    <meta charset="utf-8" />
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
            <li>
                <a href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li>
                <a href="{% url 'news' %}">News</a>
            </li>
            <li>
                <a href="{% url 'faq' %}">FAQ</a>
            </li>
            <li>
                <a href="{% url 'register'%}">Register</a>
            </li>
            <li>
                <a href="{% url 'login'%}">Login</a>
            </li>
            <li>
                <a href="{% url 'logout'%}">Logout</a>
            </li>
            <li>
                <a href="{% url 'supplier_list'%}">Suppliers</a>
            </li>
            <li>
                <a href="{% url 'store'%}">Store</a>
            </li>
            <li>
                <a href="{% url 'orders_supplier'%}">OrdersSupplier</a>
            </li>
            <li>
                <a href="{% url 'promocodes'%}">Promocodes</a>
            </li>
        </ul>
    </nav>
    <div>{% block content%}{% endblock content %}</div>
</body>
</html>