{% extends 'navbar.html' %}

{% block title %}Работники{% endblock title %}

{% block content %}
    <h1>Employees</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Photo</th>
                <th>Position</th>
                <th>Job desciption</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.user.username }}</td>
                <td>
                    {% if employee.photo %}
                        <img src="{{ employee.photo.url }}" alt="{{ employee.user.username }}" width="100">
                    {% else %}
                        No photo
                    {% endif %}
                </td>
                <td>
                    {{employee.position}}
                </td>
                <td>
                    {{employee.job_description}}
                </td>
                <td>
                    {{employee.phone}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}