{% extends 'navbar.html' %}

{% block title %}Работники{% endblock title %}

{% block content %}
    <h1>Employees</h1>
    <div class="employee-container">
        {% for employee in employees %}
        <div class="employee-card">
            <div class="employee-photo">
                {% if employee.photo %}
                    <img src="{{ employee.photo.url }}" alt="{{ employee.user.username }}">
                {% else %}
                    <div class="no-photo">No photo</div>
                {% endif %}
            </div>
            <div class="employee-info">
                <h2>{{ employee.user.username }}</h2>
                <p><strong>Position:</strong> {{ employee.position }}</p>
                <p><strong>Job Description:</strong> {{ employee.job_description }}</p>
                <p><strong>Phone:</strong> {{ employee.phone }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
