{% extends "navbar.html" %}
{% block title %}Промокоды{% endblock title %}
{% block content %}

<div class="page-container">
    <table class="promo-table">
        <thead>
            <tr>
                <th class="promo-header">Promocode</th>
                <th class="promo-header">Discount</th>
            </tr>
        </thead>
        <tbody>
            {% for promo in promos %}
            <tr class="promo-row">
                <td class="promo-code">{{ promo.code }}</td>
                <td class="promo-discount">{{ promo.discount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    
{% endblock %}
