{% extends 'navbar.html' %}
{% block title %}Обновить отзыв{% endblock title %}
{% block content %}
    <h1>Обновить отзыв</h1>
    <form method="post" action="{% url 'review_update' review.id %}">
        {% csrf_token %}
        <div>
            <label for="rating">Оценка:</label>
            <select id="rating" name="rating">
                {% for i in ratings %}
                    <option value="{{ i }}" {% if review.rating == i %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="review_text">Отзыв:</label>
            <textarea id="review_text" name="review_text" rows="5">{{ review.text }}</textarea>
        </div>
        <button type="submit">Сохранить</button>
    </form>
{% endblock %}