
{% extends "navbar.html" %}
{% block title %}О нас{% endblock title %}
{% block content%}
<h1>About</h1>

<ol>
    <li><a accesskey='1' href='#chapter1'>История магазина автозапчастей: Путь от начала до современности</a></li>
    <li><a accesskey='2' href='#chapter2'>Рождение рынка автозапчастей (1900-1950 гг.)</a></li>
    <li><a accesskey='3' href='#chapter3'>История магазина автозапчастей: Путь от начала до современности</a></li>
    <li><a accesskey='4' href='#chapter4'>Технологический прогресс и новые форматы (1990-2000 гг.)</a></li>
    <li><a accesskey='5' href='#chapter5'>Современный рынок автозапчастей (2010-наст. время)</a></li>
</ol>

<p>
    <div>
        <img title="logo" style="height: 200px; width: 200px" src="/media/logo.jpg" alt="logo">
    </div>
    <video width="640" height="360" controls>
        <source src='/media/vidos.mp4'>
    </video>
    <section>
        <h1 lang='ru' id='chapter1'>История магазина автозапчастей: Путь от начала до современности</h1>
        <p>В последние десятилетия магазины автозапчастей преобразились из простых лавочек в высокотехнологичные комплексы,
            предлагающие широкий ассортимент деталей для автомобилей. Чтобы понять глубину и значение этого явления,
            необходимо подробно рассмотреть историю этой индустрии по годам.
        </p>
        <h1 lang='ru' id='chapter2'>Рождение рынка автозапчастей (1900-1950 гг.)</h1>
        <p>В начале XX века автомобили начали набирать популярность. В это время не существовало специализированных магазинов автозапчастей,
            и автолюбители часто обращались к местным кузнецам или механикам для приобретения необходимых компонентов.
            Ремонт и обслуживание автомобилей осуществлялись в небольших мастерских, где механики создавали детали по индивидуальным заказам.</p>
        </p>
        <p>
            В 1913 году Генри Форд внедрил конвейерное производство, что сделало автомобили более доступными.
            Появление массового производства потребовало появления систематизированных поставок запчастей. Первые магазины автозапчастей начали появляться в 1920-х годах.
            Они чаще всего предлагали ограниченный ассортимент, состоящий из базовых деталей, таких как тормоза, шины и масла.
        </p>
        <h1 id='chapter3'>Развитие и стандартизация (1960-1980 гг.)</h1>
        <p>
            1960-е годы стали переломными для индустрии автозапчастей. В это время началась стандартизация автозапчастей.
            Производители начали разрабатывать унифицированные компоненты, что упростило процесс замены деталей. Так, автомобильные салоны начали предлагать не только автомобили,
            но и запасные части.
        </p>
        <p>
            Одним из значительных событий этого периода было создание национальных сетей магазинов автозапчастей. В США появились такие компании, как AutoZone и NAPA,
            которые начали предлагать широкий ассортимент запчастей, услуг по их установке и консультации по выбору. Это означало,
            что автолюбители могли получить все необходимые детали в одном месте.
        </p>
        <p>
            В Европе аналогичные процессы происходили с появлением крупных сетей, таких как Euro Car Parts. Эти изменения привели к тому,
            что специальность "менеджер по запчастям" стала одной из востребованных в автомобильной индустрии.
        </p>
        <h1 id='chapter4'>Технологический прогресс и новые форматы (1990-2000 гг.)</h1>
        <p>С появлением интернета в 1990-х годах индустрия автозапчастей претерпела кардинальные изменения. Онлайн-магазины начали предлагать возможности,
            о которых ранее можно было только мечтать. Автолюбители получили доступ к широкому ассортименту автозапчастей, их характеристикам и ценам,
            не выходя из дома. Таким образом, на рынок вышли такие гиганты, как Amazon и eBay, которые начали продавать автозапчасти наряду с другими товарами.
        </p>
        <p>
            В это время также усилился тренд на экологичность: многие производители стали предлагать запчасти,
            произведенные из переработанных материалов или с минимальным воздействием на окружающую среду. Этот подход начал привлекать внимание более сознательных потребителей,
            которым важно было поддерживать устойчивое развитие.
        </p>
        <p>
            Новые технологии, такие как системы GPS и смартфоны, изменили и способ приобретения запчастей.
            Автолюбители стали использовать мобильные приложения для поиска и покупки необходимых деталей, что значительно упростило процес
        </p>
        <h1 id='chapter5'>Современный рынок автозапчастей (2010-наст. время)</h1>
        <p>С приходом 2010-х годов в индустрии автозапчастей произошли глубокие изменения.
            Важным моментом стало развитие электронных платформ и приложений для удобного поиска и заказа запчастей. Это особенно важно в условиях быстрого темпа жизни,
            когда время для поиска нужной детали становится критически важным.
        </p>
        <p>Важную роль в развитии современных магазинов автозапчастей играют также социальные сети. Автопроизводители и торговцы начали активно продвигать свои товары через Instagram,
            Facebook и другие платформы, предоставляя запуск новых продуктов и акций более широкой аудитории.
            Это позволяет потенциальным покупателям получать актуальную информацию не только о самих запчастях, но и о новых тенденциях в обслуживании автопарка.
        </p>
        <p>Система доставки также модернизировалась. Множество компаний предлагают услугу быстрой доставки запчастей на дом, что значительно снижает время ожидания клиента.
            Доставка в день заказа стала реальностью для многих крупных сетей автозапчастей.
        </p>
        <p>
            Другим важным трендом является переход на интернет-платформы для продажи, что значительно упрощает процесс для как компаний, так и их клиентов.
            Современные магазины автозапчастей теперь стремятся не просто продавать детали, но и предоставлять клиентам услуги по консультациям, установке и обслуживанию.
        </p>
    </section>
    
    <section>
        <h2>Контактная информация</h2>
        <p>Телефон: <a>+375 000-00-00</a></p>
        <p>Email: <a>info@autoparts.ru</a></p>
        <p>Адрес: г. Минск, ул. Примерная, д. 1</p>
    </section>

    <section>
        <h2>Реквизиты</h2>
        <ul>
            <li>Название компании: <abbr title="общество с ограниченной ответственностью">ООО</abbr> "АвтоЗапчасти"</li>
            <li>ИНН: 1234567890</li>
            <li>КПП: 123456789</li>
            <li>ОГРН: 1234567890123</li>
            <li>Расчетный счет: 40702810000000000000</li>
            <li>Банк: ПАО "Банк Пример"</li>
            <li>БИК: 123456789</li>
            <li>Корреспондентский счет: 30101810100000000000</li>
        </ul>
    </section>

    <section>
        <h1 >ЕДИНЫЙ РЕЕСТР МАГАЗИНОВ</h1>
        <h2 >СВИДЕТЕЛЬСТВО</h2>
        <h3 >о внесении сведений</h3>

        <p >г. Минск</p>
        <p >19 сентября 2024 года</p>

        <p>Общество с ограниченной ответственностью <strong>"АвтоЗапчасти"</strong></p>
        <p>(ИНН 1234567890)</p>
        <p>Регистрационный номер: 8241</p>

        <p>Гудорьян Евгений Святославович</p>
        <p >Директор магазина</p>
    </section>

    <blockquote>
        <p>Эту лабораторную работу написал Гудорьян Евгений Святославович</p>
        <cite>Гудорьян Евгений Святолславович</cite>
        <br>
        <hr>
    </blockquote>

    <figure>
        <figcaption>Listing coda</figcaption>
        <code>
            <pre>
                @admin.register(Review)
                class ReviewAdmin(admin.ModelAdmin):
                list_display = ('user', 'rating', 'text', 'created_at')
                list_filter = ('user', 'rating', 'created_at')
                search_fields = ('user__username', 'text')
                readonly_fields = ('created_at',)
            </pre>
        </code>
    </figure>
    
    <h3 dir="rtl">Дата создания</h3>
    <time datetime="2023-09-19T14:30:00">19 сентября 2023 года, 14:30</time>
    <p><dfn title="BSUIR">БГУИР</dfn> - Белорусский государственный университет инофрматики и радиоэлектроники</p>
    {% endblock%}